@charset "utf-8";
/* ============== MEDIA QUERIES ============== */
@media screen and (max-width:1780px) {
  .container {width: 94%;}
  header .container {height: 13rem;}

  #visual {padding:12vw 0 5vw; height: 48vw;}

  #projects .swiper-outer .btn-prev {transform: translate(45%, -50%) scale(.86); }
  #projects .swiper-outer .btn-next {transform: translate(-55%, -50%) scale(.86);}

  #skill .container {width: 100%;}
}
@media screen and (max-width:1560px) { 
  #projects h2 {margin-left: 20%; transform: scale(.9); transform-origin: left center;}
  #projects nav {width: 20%;}
  #projects .swiper-outer {width: calc(100% - 20%);}
  #projects .swiper-outer .btn-prev {transform: translate(45%, -50%) scale(.75); }
  #projects .swiper-outer .btn-next {transform: translate(-55%, -50%) scale(.75);}

  #about h2 {transform: scale(.9); transform-origin: left top; margin-bottom: -3rem;}
  #about .text {transform: scale(.8); transform-origin: right center;}

  #contact h2 {transform: scale(.9); transform-origin: left bottom;}
  #contact .tit-wrap::before {width: 37rem;}
  #contact .tit-wrap::after {top: 71%;}

  /* .sticker-wrap {max-width: 80%; transform-origin: center bottom;} */

  /* modal */
  #modal .btn-close {width: 24px; height: 24px;}
  #modal .video-area .video {padding-top: 75%;}
  #modal.dark .modal-cont {flex-wrap: wrap; height: calc(100vh - 11rem); overflow-y: auto;}
  #modal.dark .inner {width: 96%; padding: 7rem 0 0;}
  #modal.dark .video-area {width: 70%;}
  #modal.dark .info-area {width: 27%; padding-right: 1rem;}

}
@media screen and (max-width:1200px) { 
  p, #about ul li {font-size: 1.8rem;}
  h3 {font-size: 4.6rem;}

  #visual h3 {font-size: 4.7rem; padding: 2rem 0 0;}

  #projects .tabMenu a {font-size: 2.2rem;}
  /* #projects .swiper-wrapper {height: 48rem;} */
  #projects .tag {font-size: 1.9rem; height: 5.4rem; line-height: 2.7; border-radius:0 0 0 3rem}

  #about .text {transform: scale(.75);}

  .sticker-wrap {max-width: 100%;}

  /* #modal.dark .video-area {width: 55%;}
  #modal.dark .info-area {width: 40%;}
  #modal .video-area .video {padding-top: 100%;} */

  #modal.dark .video-area {width: 100%; height: auto;}
  #modal.dark .info-area {width: 100%; height: auto;}
  #modal .video-area .video {padding-top: 56.25%; }
  
  #modal h2 {font-size: 3rem; margin-bottom: 0;}
  #modal .tools img {width: 56px;}
  #modal .info-area .desc p {font-size: 1.6rem;}
  #modal.dark .info-area .desc {margin-top: 3rem;}
}
@media screen and (max-width:1180px) {
  #intro .intro-logo img {height: 60px}

  .wrap {height: auto;}
  .section {padding: 4rem 0 18rem;}
  .container {width: 90%;}
  .mobile-btn {display: flex;}
  header .container {height: 11rem;}
  header .logo {width: 10.7rem; height: 4.7rem;}
  header nav {display: none;}

  #visual {padding:20vw 0 5vw; height: 62vw; }
  #visual .container h3 {font-size: 3.9vw; }
  .spline::after {content: '';
    position: absolute;
    width: 100%;
    height: 62vw;
    background: url(../img/3d.gif) no-repeat;
    background-size: cover;}
  .spline iframe {display: none;}

  #projects h2 {margin-left: 0; transform: scale(.75);}
  #projects nav {width: 100%; z-index: 3;}
  #projects .tabMenu a {padding: 2rem 1rem; font-size: 2.4rem;}
  .tabMenu {display: flex; justify-content: flex-end;}
  #projects .inner {/* height: auto; */ flex-wrap: wrap; justify-content: flex-end; margin-top: -7rem; margin-top: -3rem;}
  #projects .swiper-outer {width: 100%; margin-top: 1rem;}
  #projects .swiper-outer .btn-prev {transform: translate(45%, -50%) scale(.65); }
  #projects .swiper-outer .btn-next {transform: translate(-55%, -50%) scale(.65);}
  #projects .swiper-slide {border-radius: 1.7rem;}

  #about h2 {transform: scale(.75); margin-bottom: -6rem;}
  #about .text {transform: scale(.55);}

  #contact {margin-top: -19rem;}
  #contact h2 {transform: scale(.75);}
  #contact .tit-wrap::before {width: 31rem;}
  #contact .tit-wrap::after {top: 75%;}
  #contact .tit-wrap ~ p {font-size: 2.4rem;}
  #contact p {margin-top: 0;}

  footer .copyright {font-size: 1.5rem;}

  #modal .info-area {padding-bottom: 1rem;}
}
@media screen and (max-width:1024px) {
  #modal.light .info-area ul {flex-wrap: wrap;}
  #modal.light .info-area li {padding: 0.5rem 0;}
  /* #modal.light .info-area dt, #modal.light .info-area dd {display: inline-block;}
  #modal.light .info-area dt::after {content: '.'; display: inline-block; margin: 0 .5rem 0 0;} */
}
@media screen and (max-width:960px) {
  h3 {font-size: 3.8rem;}
  p, #about ul li {font-size: 1.7rem;}
  #visual h3 {font-size: 4rem;}

  #about .text {bottom: -19rem;}

  #skill {padding-top: 6rem;}

  #contact .btn-area {gap: 2rem;}
  #contact .btn-area button {transform: scale(.9); transform-origin: left center;}

  #goTop {transform: scale(.8); transform-origin: right bottom; }
}
@media screen and (max-width:768px) {
  .container {width: 92%;}
  .section {padding: 4rem 0 16rem;}
  .mobile-btn {top: 2em;}
  header .container {height: 9rem;}
  #visual {padding:25vw 0 5vw; height: 69vw; }
  #visual h3 {font-size: 4.5vw; }
  #visual .text-box {height: 50vw;}
  .spline::after {height: 69vw;}
  
  #projects h2 {transform: scale(.55);}
  #projects nav {width: 75%;}
  #projects .swiper-outer .btn-prev {transform: translate(55%, -50%) scale(.55); }
  #projects .swiper-outer .btn-next {transform: translate(-55%, -50%) scale(.55);}
  #projects .swiper-slide .desc {font-size: 2.4rem;}

  #about h2 {transform: scale(.55); margin-bottom: -12rem;}
  #about .text {bottom: -24rem;}
  
  #skill .only-pc {display: none;}
  #skill .only-mo {display: block;}
  #skill .sticker-wrap {max-width: 60%;}
  #skill .sticker-wrap::before			{padding-bottom: 76.24901497241923%;}
  #skill .sticker.accessibility				{top: 66%; left: 6%; width: 38.867%;}
  #skill .sticker.html5				{top: 32.3%; right: 7.5%; width: 40.867%;}
  .sticker.standard				{top: 28%; left: 19%; width:30.1%;}
	#skill .sticker.css3				{top: 13.96%; left: 38.867%; width: 41.133%;}
  .sticker.aftereffects				{top: 37.5%; right: 38%; width: 48.1%;}
	#skill .sticker.illustrator				{top: 79.703%; left: 10.533%; width: 46.533%;}
	#skill .sticker.photoshop				{top: 59.659%; left: 42.493%; width: 45.733%;}
	#skill .sticker.premiere				{top: 78.647%; left: 39%; width: 43.133%;}
	#skill .sticker.figma					{top: 86.22%; right: 4.533%; width: 37%;}
  #skill .sticker.scss				{top: 102.254%; left: 0; width: 38.733%;}
	#skill .sticker.cinema4d				{top: 112.254%; left: 23.333%; width: 49%;}
  #skill .sticker.jquery				{top: 107%; right: 0; width: 37.4%;}
  #skill .sticker.xd				{top: 0.391%; right: 49.6%; width: 24.8%;}

  #contact {margin-top: 0;}
  /* #contact {margin-top: -18rem;} */
  #contact h2 {transform: scale(.55);}
  #contact .tit-wrap::before {width: 23rem;}
  #contact .tit-wrap::after {top: 82%; height: 0.6rem;}

  footer .logo {width: 29vw; height: 7vw;}
  footer .info p {font-size: 1rem;}

  #modal .video-area .video {padding-top: 75%;}
  #modal.light .info-area li {flex-basis: 50%;}
}
@media screen and (max-width:640px) {
  .section {padding: 4rem 0 8rem;}
  .container {width: 90%;}
  h3 {font-size: 3.2rem;}
  #projects h2 {transform-origin: left top;}
  #projects nav {width: 100%;}
  .tabMenu {justify-content: center;}
  #projects .tabMenu a {font-size: 4vw;}
  #projects .inner {margin-top: -6rem; justify-content: center;}
  #projects .swiper-wrapper {height: 48rem;}
  #projects .swiper-slide .desc {font-size: 2.4rem;}
  #projects .swiper-outer {width: 98%;}

  #about p, #about ul li {font-size: 1.3rem;}
  #about h3 {margin-top: 3rem;}
  #about p {margin-bottom: 1rem;}
  #about p br {display: none;}
  #about .text {display: none;}
  #about .text {bottom: -20rem; transform: scale(.4);}
  #about h2 {transform: scale(.65); font-size: 9rem;}
  /* #about::before{content: ''; backdrop-filter: blur(3px); height: 99%; position: absolute; left: 0; top: 0; right: 0; bottom: 0;} */

  #skill .text-play .play li {font-size: 11rem;}
  #skill .sticker-wrap {margin-top: 7rem;}

  /* #contact {margin-top: -13rem;} */
  #contact .tit-wrap ~ p {font-size: 1.5rem;}
  #contact .tit-wrap + p {font-size: 1.7rem;}
  #contact .btn-area {margin-top: 2rem; gap: 1rem;}
  #contact .btn-area button {transform: scale(.8);}

  footer .container {flex-direction: column-reverse; gap: 1rem; align-items: flex-start;}
  footer .logo {background-position: 0% 50%;}
  #goTop {transform: scale(.7); position: fixed; right: 2rem; bottom: 2rem; background: rgba(20, 20, 20, .8);}

  #modal .inner {width: 94%;}
  #modal h2 {font-size: 2.4rem;}
  #modal .video-area .video {padding-top: 100%;}
  #modal.dark .info-area {padding: 0 1rem;}
  #modal.light .inner {padding-top: 9rem;}
  #modal.light h2 {padding: 1.5rem 6rem 1.5rem 2rem;}
  #modal.light h2 img {width: 48px;}
  #modal.light .info-area dt {font-size: 1.6rem;}
  #modal.light .btn-close {top: 2rem;}
}
@media screen and (max-width:560px) {
  /* #visual {padding: 40vw 0 5vw; height: 100vw;}
  #visual .text-box {height: 60vw;} */

  #projects .tag {font-size: 1.5rem; height: 4.4rem; line-height: 4.4rem;}
  #projects .swiper-slide .desc {font-size: 2rem;}

  #about h2 {transform: scale(.65);}
  #about p, #about ul li {font-size: 3.7vw;}

  #skill .sticker-wrap {max-width: 70%;}

  #contact .btn-area {/* margin-top: 2rem;  */gap: 0;}
  #contact .btn-area button {transform: scale(.7);}

  /* #modal.light .inner {padding-top: 10rem;} */
  #modal.light h2 span {margin-right: .3rem;}
  #modal.light h2 img {width: 32px;}
  #modal.light .info-area li:nth-child(odd) {flex-basis: 60%;}
  #modal.light .info-area li:nth-child(even) {flex-basis: 35%;}
  
  /* #contact {margin-top: -20rem;} */
}
@media screen and (max-width:440px) {
  .nav-mobile .menu-mobile li a {font-size: 2.8rem;}
  #projects h2 {transform: scale(.45);}
  #about h2 {transform: scale(.75);}

  #contact {padding-top: 3rem;}
  #contact h2 {transform: scale(.55); font-size: 23vw;}
  #contact h2 span {width: 86vw; margin-right: -9rem;}
  #contact .tit-wrap::before {width: 58%;}
  #contact .tit-wrap::after {top: 79%;}
  #contact .btn-area {width: 10rem;}
  #contact .btn-area button {transform: scale(.6);}
  
  /* #contact h2 {font-size: 26vw;}
  #contact .tit-wrap::before {width: 54vw;} */
  #goTop {transform: scale(.5);}
  #modal.light .inner {padding-top: 10rem;}
}
@media screen and (max-width:360px) {
  .nav-mobile .menu-mobile li {height: 5.4rem;}
  .nav-mobile .menu-mobile li a {font-size: 2.4rem;}
/* 
  #contact h2 {transform: scale(.45); font-size: 23vw;} */
  /* #visual {height: 110vw;}
  #visual h3 {margin-top: 3rem;}
  #visual .text-box {height: 60vw;} */
}